# Misc
examples
config.json
.DS_Store
*.drawio.bkp

# Open Next
.open-next

# Terraform
.Terraform
*tfstate*
*tfvars
*tfbackend
examples/*/backend.tf
.terraform.lock.hcl
*.tftest.hcl

# Terragrunt
.terragrunt-cache