# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# production
build

# misc
.DS_Store
.yarn
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Open Next
.open-next

# Terraform
.Terraform
*tfstate*
*tfvars
*tfbackend
examples/*/backend.tf
.terraform.lock.hcl

# Terragrunt
.terragrunt-cache